@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*//*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: #5f2c82
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden;
   
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/metal.jpg) no-repeat left bottom;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

section#login > h1 {
    text-align: center;
    margin-top: 10px;
}

section#login > p {
    font-size: .8em;
}

form > div.campo{
    display: block;
    background-color: #5f2c82;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    border: 2px solid #5f2c82;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #49cfcd;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-13px);
}

div.campo > input:focus-within{
    background-color: white;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #2d6462;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #6cd3cf;
}

form > a.botao > span {
    font-size: 0.8em;
}